/* ////////////////////////////////////////////////// */
/* Header */

/* Toolbar component */
.toolbar{
  width:100%;
  background-color:#292c30;
  height:60px;
}

.toolbar_navigation{
  display: flex;
  align-items: center;
  height:100%;
  padding: 0 1rem;
}

.logo{
  color:white;
  font-size:28px;
  text-decoration: none;
  margin-left:0.5rem;
  display: block;
}

.logo:hover{
  cursor: pointer;
}



.spacer{
  flex:1;
}

@media(max-width:897px){
  .nav-elements{
    display:none;
  }
}

.nav-elements li{
  padding: 0 0.7rem;
}

.nav-elements .activeclass{
  color:white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.nav-elements a:after{
  content: '';
  position: relative;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.nav-elements a:hover:after{
  width: 100%;
  left: 0;
  background: #fff;
}


.nav-elements .activeclass:active{
  color: #00ffe9;
}

.nav-elements ul{
  list-style: none;
  margin:0;
  padding: 0;
  display:flex;
  margin-top: 5px;
}

/* ToggleButton component */

.toggle-btn{
   height:24px;
   width:30px;
   background: transparent;
   border:none;
   cursor:pointer;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 0;
   box-sizing:border-box;
   margin-top: 4px;
}

.toggle-btn:focus{
  outline:none;
}
.toggle-btn-line{
  width:30px;
  height:1.5px;
  background-color:white;
}

@media(min-width:898px){

  .toggle-btn{
    display:none;
  }
  .side-drawer{
    display: none;
  }
}

/* Side-Drawer component */

.side-drawer{
  height: 100%;
  width:380px;
  left:0;
  top:0;
  box-shadow: 1px,0,7px,rgba(0,0,0,0.5);
  position:fixed;
  background: #f4f5f7;
  z-index: 300;
  transform: translateX(-100%);
  transition:transform 0.3s ease-out;
 
}

.side-drawer.open{
  transform: translateX(0);
}

.side-drawer.open ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: top;
  height:100%;
  margin-left: 10%;
  
}

.side-drawer.open li{
  margin-top:10%;
}

.side-drawer .activeclass {
  text-decoration: none;
  font-size: 1.2rem;
  color:#292c30;
}

.side-drawer .activeclass:hover,
.side-drawer .activeclass:active{
  color:#f90074;
  
}

.side{
  width:100%;
  background-color:#292c30;
  height:60px;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
}
.sidebar-logo-text{
   font-size:31px;
}

.cross-btn {
  margin-top: px;
}

@media (max-width: 440px) {
  .side-drawer {
    width:258px;
  }
  .sidebar-logo-text {
    font-size: 21px;
    margin-bottom: 5px;
  }
  .cross-btn {
    font-size: 14px;
    margin-bottom: 0;
  }
  .logo {
    font-size: 22px;
  }
  .toggle-btn-line{
    width: 24px;
  }
}
/* Backdrop component */

.backdrop{
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 100;
}

.cross-btn{
  margin-left:13%;
  cursor: pointer;
  
}

.cursor-btn:hover{
  color:#3fada8;
}

/* ////////////////////////////////////////////////// */
/* Footer */

.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  background-color: black;
  color: white;
}

.footer {
  background-color: #191919;
  color: white;
}

.footer-outer-wrapper {
  width: 100%;
  display: flex;
}

.footer-inner-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-flow: row wrap;
  height: 20%;
}

.footer-col {
  margin: 20px 10px;
}

.footer-col:nth-child(1) {
  align-items: center;
}

.footer-col a {
  color: white;
  text-decoration: none;
}

.footer-col a:hover {
  cursor: pointer;
  color: #65c2ed;
  transition: all 0.2s ease;
}

.footer-col p {
  margin: 10px 0;
  font-size: 20px
}

.footer-col:nth-child(3) {
  margin-top: 50px;
}

.footer-logo {
  width: 200px;
  align-items:center;
}

.footer-svgs {
  display: flex;
  justify-content: center;
}

.footer-svgs svg {
  display: inline-block;
    padding: 7px;
    width: 35px;
    height: 35px;
    margin: 0 2px;
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
}

.footer-svgs svg:nth-child(1):hover {
  background: #3B5998;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-svgs svg:nth-child(2):hover {
  background: #00B6F1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-svgs svg:nth-child(3):hover {
  background: #04669A;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-width: 360px) {
  .footer-col:nth-last-child(1) {
    text-align: center;
  }
}

body {
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* //////////////////////////////////////////////// */

/* Contact Us Page */

.contact-wrapper {
  display:flex;
  justify-content: flex-start;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 15px;
}
.contact-box {
  background-color: rgb(241, 241, 241);
  width: 100%;
  border-radius: 25px;
  padding: 20px;
}

.contact-box h1 {
  font-weight: 300;
}

.contact-box p {
  font-size: 16px;
  margin: 10px 0;
}

.contact-box a {
  text-decoration: none;
  color: black
}

.contact-box a:hover {
  color: #65c2ed;
  transition: color 0.3s ease;
}

.snip1559 {
  top: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 20px;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #ffffff;
    color: #2B2B2B;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out 0s;

}
.snip1559 .profile-image {
    padding: 7% 10% 0;
}

.snip1559 .profile-image img {
  width: 150px;
  height:150px;
    vertical-align: top;
    position: relative;
    border-radius: 50%;
    max-width: 150px;
}

.snip1559 figcaption {
    padding: 5% 0% 4%;
}

.snip1559 h3 {
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px ;
}
.snip1559 h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
}

.contact-detail {
  margin-top: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}

.snip1559:hover,
.snip1559.active {
  top: -4px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(250, 123, 128, 1);
}

.placement-team-heading {
  font-size: 40px;
  margin-top: 0!important;
  background-color: white!important;
  color: #700325;
  border: none!important;
}

.placement-team {
  width: 100%;  
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.placement-coordinators {
  width: 100%;
  display: flex;
}

.placement-coordinators-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: row wrap;
}

.contact-outer h2,
.placement-team h1{
  margin: 30px 0;
  text-align: center;
  padding: 10px;
  width: 98%;
  background-color: #f5f5f5;
  margin-top: 0;
  border: 0.3px solid #eee;
}

.placement-executives {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: row wrap;
}

.placement-executives-wrapper {
  width: 100%;
    display: flex;
}



/* ///////////////////////////////////////////////////// */

/* Why IIITL Page */

.whyus-o-container {
  display: flex;
  justify-content: center;
}

.whyus-container {
  width:80%;
  background-color: #f9f9f9;
  padding: 0 20px;
  margin: 20px;
  border: #e8ebef solid 0.2vw;
}

.whyus-container h1 {
  text-align: center;
  color: #700325;
  margin: 20px 0;
  margin-bottom: 20px;
}

.whyus-container h2 {
  color: #350011;
}

.whyus-container p {
  margin: 20px 0;
  color: #2b000e;
}

.whyus-container a {
  text-decoration: none;
  color: #3394ff;
}

.whyus-container strong {
  color: #414141;
  font-weight: 700;
}

.whyus-container h2 {
  margin-top: 20px;
}

@media (max-width: 545px) {
  .whyus-container {
    width: 95%;
  }
}

/* ///////////////////////////////////////////////// */

/* Procedure And Policies */

.custom-list li {
  position: relative;
    border: 0px none;
    padding: 10px 0 0px 22px;
    display: block;
    margin: 10px 0;
    padding-right: 10px;
}

.custom-list li::before {
  position: absolute;
    left: 0px;
    content: '\f192';
    font-family: "Font Awesome 5 Free";
    COLOR: #00b3f3;
    margin-top: 4px;
}

.ph-subheading {
  font-size: 25px!important;
}
.procedure-outer {
  display: flex;
  justify-content: center;
}

.procedure-wrapper {
  width:80%;
  background-color: #f9f9f9;
  padding: 20px 20px;
  margin: 20px;
  border: #e8ebef solid 0.2vw;
}

.procedure-wrapper h1 {
  text-align: center;
  margin: 20px 0;
  margin-bottom: 35px;
  color: #700325;
}

.sub-part h2 {
  font-size: 20px!important;
  color: #350011;
}

.sub-part p {
  margin: 10px 0!important;
}

.procedure-wrapper h2 {
  margin-top: 20px;
  font-size: 30px;
}

.procedure-wrapper p {
  margin: 20px 0;
  color: #2b000e;
}

.policies-heading {
  font-size: 2em; 
}

.procedure-wrapper a {
  text-decoration: none;
  color: #3394ff;
}

.procedure-wrapper strong {
  color: #414141;
  font-weight: 700;
}

@media (max-width: 545px) {
  .procedure-wrapper {
    width: 95%;
  }
}

.custom-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 30px 0;
}



/*Home Page Component */

.logo-img{
  width:100%; 
  height:43vw; 
  
}


  .elegantshadow {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 3em;
    padding: 30px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313;
    letter-spacing: .15em;
    margin-bottom: 2%;
  }
  
 @media (max-width: 600px) {
   .elegantshadow {
     font-size: 35px;
   }
 }

 @media (max-width: 390px) {
   .elegantshadow {
     font-size: 25px;
   }
 }
  


  .example{
  box-sizing: border-box;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
}



.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-size: cover; */
  background-position: center;
  transition: transform 0.2s;
  background-repeat: no-repeat;
}
.blog-card .details, .blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  content: "\f007";
}
.blog-card .details .date:before {
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  content: "\f02c";
}
.blog-card .details .tags li {
  margin-right: 2px;
  
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1, .blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

@media (max-width: 640px) {
  .blog-card {
    margin: 20px!important;
  }
}
/* /////////////////////////////////////////////// */

/* Past Recruiters */

.pr-container {
  display: flex;
  justify-content: center;
}

.pr-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pr-box {
  box-sizing: border-box;
  margin: 15px 20px;
  padding: 0;
  float: left;
  top: 0px;
  position: relative;
  background: #fdfdfd;
  transition: all 0.3s ease-out 0s;
  z-index: 1;
  border-bottom: 2px solid rgba(2, 216, 113, 0.2);
  text-align: center;
  padding: 15px;
  width: 250px;
}

.pr-company-logo {
  width: 85%;
}

.pr-company h5 {
  z-index: 99;
  position: relative;
}

.pr-box-content {
  margin-top: 20px;
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
}

.pr-box:hover,
.pr-box.active {
  top: -4px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(250, 123, 128, 1);
}

.pr-outer-container {
  text-align: center;
}

.pr-outer-container h1 {
  text-decoration: underline;
  margin: 25px 0;
  font-size: 50px;
}

.pr-sub-heading {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin: 20px;
}

.pr-sub-heading h2 {
  font-size: 35px;
  width: fit-content;
}

@media (max-width: 366px) {
  .pr-box {
    width: 200px;
  }
  .pr-box-content {
    font-size: 15px;
  }
}

@media (max-width: 240px) {
  .pr-box {
    width: 160px;
  }
}

.pr-inner-wrapper {
  display: flex;
  justify-content: center;
}

.pr-inner-box {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px 0;
  margin-bottom: 30px;
  border: 1.6vw solid rgb(206, 206, 206);
  box-shadow: 10px 10px 10px #eee;
}

.pr-inner-box img {
  width: 150px;
  margin: 5px 10px;
}

@media (max-width: 950px) {
  .pr-inner-box {
    width: 90%;
  }
}

/* ///////////////////////////////////////////////// */
/* Placements Stats */

.stats{
  width:70%;
  margin-left:15%;
  background-color: #f9f9f9;
  margin-top:1vw;
  margin-bottom: 10vw;
  border: #e8ebef solid 0.2vw;
}

.stats p{
  margin-left: 2vw;
  margin-right: 2vw;
  color:#2b000e;
  font-weight: 250;
}

.stats h1{
  text-align: center;
  margin-top:1vw;
  margin-bottom: 4vw;
  color:#700325;
}
.stats li{
  list-style: none;
  margin-bottom:0.65vw;
  color:#913146;
  font-weight: bold;
}

/* Message Component */

.msgh{
  text-align:center;
  margin-top:2vw;
  margin-bottom: 2vw;
  color: #17915d;
  font-size: 2.7em;
}
.msgp{
  font-size: 1.15em;
  font-weight:bold;
  margin-left:10vw;
  margin-right:10vw;
  color:#0c2728;
  
}

.cred{
  margin-left:10vw;
  
 color: #563e55;
 font-weight:bold;
}





/* About Component*/

.abt1,.abt3 {
  text-align: center
}

.abt1{
  margin-top:3vw;
  color:#5b031f;
}

.abt3{
  margin-top: 0.5vw;
  margin-bottom: 2.2vw;
  color:#a50034;
}
.abt-text{
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom:4vw;
  font-weight: bold;
  color:#19040e
}