/* ////////////////////////////////////////////////// */
/* Header */

/* Toolbar component */
.toolbar{
  width:100%;
  background-color:#292c30;
  height:60px;
}

.toolbar_navigation{
  display: flex;
  align-items: center;
  height:100%;
  padding: 0 1rem;
}

.logo{
  color:white;
  font-size:2.2rem;
  text-decoration: none;
  margin-left:0.5rem;
  display: block;
}

.logo:hover{
  cursor: pointer;
}



.spacer{
  flex:1;
}

@media(max-width:897px){
  .nav-elements{
    display:none;
  }
}

.nav-elements li{
  padding: 0 0.7rem;
}

.nav-elements .activeclass{
  color:white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.nav-elements a:after{
  content: '';
  position: relative;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.nav-elements a:hover:after{
  width: 100%;
  left: 0;
  background: #fff;
}


.nav-elements .activeclass:active{
  color: #00ffe9;
}

.nav-elements ul{
  list-style: none;
  margin:0;
  padding: 0;
  display:flex;
  margin-top: 5px;
}

/* ToggleButton component */

.toggle-btn{
   height:24px;
   width:30px;
   background: transparent;
   border:none;
   cursor:pointer;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 0;
   box-sizing:border-box;
}

.toggle-btn:focus{
  outline:none;
}
.toggle-btn-line{
  width:30px;
  height:1.5px;
  background-color:white;
}

@media(min-width:898px){

  .toggle-btn{
    display:none;
  }
  .side-drawer{
    display: none;
  }
}

/* Side-Drawer component */

.side-drawer{
  height: 100%;
  width:300px;
  left:0;
  top:0;
  box-shadow: 1px,0,7px,rgba(0,0,0,0.5);
  position:fixed;
  background: #f4f5f7;
  z-index: 300;
  transform: translateX(-100%);
  transition:transform 0.3s ease-out;
 
}

.side-drawer.open{
  transform: translateX(0);
}

.side-drawer.open ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: top;
  height:100%;
  margin-left: 10%;
  
}

.side-drawer.open li{
  margin-top:10%;
}

.side-drawer .activeclass {
  text-decoration: none;
  font-size: 1rem;
  color:#292c30;
}

.side-drawer .activeclass:hover,
.side-drawer .activeclass:active{
  color:#f90074;
  
}

.side{
  width:100%;
  background-color:#292c30;
  height:60px;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
}
.sidebar-logo-text{
   font-size:2.2rem;
}

.cross-btn {
  margin-top: 6px;
}

@media (max-width: 380px) {
  .side-drawer {
    width:258px;
  }
  .sidebar-logo-text {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .cross-btn {
    font-size: 14px;
    margin-bottom: 5px;
  }

}
/* Backdrop component */

.backdrop{
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 100;
}

.cross-btn{
  margin-left:15%;
  cursor: pointer;
  
}

.cursor-btn:hover{
  color:#3fada8;
}

/* ////////////////////////////////////////////////// */
/* Footer */

/* HTML Set up */
footer {
  width: 100%;
  background: #191919;
  color: #fff;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
footer .centered {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .centered .footer-logo {
  width: 20%;
}
footer .centered .footer-logo img.logo {
  padding: 30px 20px 10px 20px;
  max-width: 100%;
}
footer .centered .footer-contact {
  width: 20%;
}
footer .centered .footer-navigation {
  margin-top: 1%;
  width: 60%;
}
footer .centered .footer-navigation .footer-links-holder {
  width: 33.33333%;
  position: relative;
  float: left;
  margin: 0;
}
footer .centered .footer-navigation .footer-links-holder .footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}
footer .bottom-bar {
  position: relative;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  background: #000;
  padding: 15px 0;
}

/* Responsive Tablet Sizes */
@media only screen and (max-width: 800px) {
  footer .centered {
    flex-wrap: wrap;
  }
  footer .centered .footer-logo {
    max-width: 250px;
    width: 50%;
  }
  footer .centered .footer-contact {
    width: 50%;
    padding: 0 20px;
  }
  footer .centered .footer-navigation {
    width: 100%;
    margin-top: 3%;
  }
  footer .centered .footer-navigation .footer-links-holder {
    padding: 0 20px;
  }
}

/* Responsive Mobile Sizes */
@media only screen and (max-width: 500px) {
  footer .centered .footer-logo {
    width: 100%;
    margin: 0 auto;
  }
  footer .centered .footer-contact {
    width: 100%;
  }
  footer .centered .footer-navigation .footer-links-holder {
    width: 100%;
    padding: 0;
  }
  footer .centered .footer-navigation .footer-links-holder h3 {
    margin: 0;
    padding: 10px 20px;
    border-top: #000 1px solid;
    cursor: pointer;
    /* Down Arrows */
  }
  footer .centered .footer-navigation .footer-links-holder h3::after {
    float: right;
    margin-right: 10px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
  }
  footer .centered .footer-navigation .footer-links-holder .footer-links {
    border-top: #000 1px solid;
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
  }
  footer .centered .footer-navigation .footer-links-holder .footer-links {
    max-height: 10000px;
  }
}

/* Social Icons */
.social {
  text-align: center;
}
.social a {
  display: inline-block;
  padding: 7px;
  width: 35px;
  height: 35px;
  margin: 0 2px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
}
.social a:hover {
  background: #65c2ed;
}
.social a.linkedin {
  padding: 4px;
}
.social a svg .face,
.social a svg .twit,
.social a svg .link {
  fill: #000;
}

/* Typography */
footer h3 {
  margin-top: 8%;
  margin-bottom: 0;
}
footer p,
footer li {
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 10px 0;
}
footer a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.5s, background 0.5s;
  transition: color 0.5s, background 0.5s;
}
footer a:hover {
  color: #65c2ed;
}

/* Misc CSS */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}

body {
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* //////////////////////////////////////////////// */

/* Contact Us Page */

.contact-wrapper {
  display:flex;
  justify-content: flex-start;
  text-align: left;
  margin: 30px;
  flex-wrap: wrap;
}
.contact-box {
  background-color: rgb(241, 241, 241);
  width: 100%;
  border-radius: 25px;
  padding: 20px;
}

.contact-box h1 {
  font-weight: 300;
}

.contact-box p {
  font-size: 16px;
  margin: 10px 0;
}

.contact-box a {
  text-decoration: none;
  color: black
}

.contact-box a:hover {
  color: #65c2ed;
  transition: color 0.3s ease;
}

.snip1559 {
  top: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 20px;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #ffffff;
    color: #2B2B2B;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out 0s;

}
.snip1559 .profile-image {
    padding: 7% 10% 0;
}

.snip1559 .profile-image img {
  width: 150px;
  height:150px;
    vertical-align: top;
    position: relative;
    border-radius: 50%;
    max-width: 150px;
}

.snip1559 figcaption {
    padding: 5% 0% 4%;
}

.snip1559 h3 {
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px ;
}
.snip1559 h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
}

.contact-detail {
  margin-top: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}

.snip1559:hover,
.snip1559.active {
  top: -4px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(250, 123, 128, 1);
}

.placement-team {
  width: 100%;  
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.placement-coordinators {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.contact-outer h1{
  margin: 30px 0;
  text-decoration: underline;
}

.placement-executives {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}